---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';



// on peut faire du js 
// appeler l'api, utiliser la fonction FETCH() 
const data = await fetch('https://enzo.cdui-formasup.fr/wp-json/wp/v2/posts/580?_embed');
const post = await data.json();
console.log(post)



---





<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	
	</head>
	<body>
		<Header />
		<main>


			<h1 class="text-9xl font-bold text-white">WORDPRESS HEADLESS</h1>





			{
				post._embedded['wp:featuredmedia'] && (
					<img src={post._embedded['wp:featuredmedia'][0].source_url} alt={post._embedded['wp:featuredmedia'][0].alt_text} />
				)
			}




			<h2>
				{post.title.rendered}
			</h2>

			
			<p>
				# {post._embedded['wp:term'][0][0].name}
			</p>

			
			<fragment set:html={post.content.rendered}></fragment>

			<p>{post.content}</p>






<!-- afficher un truc de mon backend wordpress -->

<!-- Me connecter a mon backend wordpress avec l'api de wordpress nom_de_domaine/wp-json/wp/v2/posts

https://enzo.cdui-formasup.fr/wp-json/wp/v2/posts/580?_embed
-->





		</main>
		<Footer />
	</body>
</html>
